:root{
    --bgorange: rgb(255, 115, 29);
    --bgcolor: rgb(255, 247, 233);
    --bgblue: rgb(95, 157, 247);
    --bgdark: rgb(23, 70, 162);
    --minh: 98vh;
    --color1: wheat;
    --color2: midnightblue;
}  
h1 {
    color:rgb(128, 240, 188);
    display: inline;
    min-height: 50px;
    max-height: 150px;
}
a{
    text-decoration: none;
    font-size: 20px;
}
body{
background: var(--bgcolor);
}
.TopBar{
    min-height: 110px; /*think after*/
    max-height: 210px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    z-index: 4;
}
.TopBar div { /*NOT SO SURE*/
    min-height: 50px;
    max-height: 150px;
}
.TopBar h1{
    width: 20%;
}

.card{
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote{
    size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    position: absolute;
}
.card::before{
    content: '';
    background-color: antiquewhite;
    height: 10%;
    width: 100%;
    transform: scaleY(0);
    transition: transform ease-out 1s;
}
.card:hover::before{
    transform: scaleY(10);
}
.card:hover .quote{
    color: darkseagreen;
    transition: color ease-out 0.3s;
}

.card2{
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: inherit;
}
.quote2{
    size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    position: absolute;
    padding: 40px;
}
.card2::before{
    content: '';
    background-color: antiquewhite;
    height: 10%;
    width: 100%;
    transition: transform ease-out 1s;
    position: absolute;
    bottom: 0; right: 0;
    transform-origin: bottom;
}
.card2:hover::before{
    transform: scaleY(10);
    transform-origin: 0 100%;
}

/*SHAPE-SHIFTER*/
.Mcgonagall{
    width: 100px;
    height: 100px;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s linear,
                border-radius 0.3s ease-in-out;
}
.Mcgonagall:hover{
    border-radius: 25px;
    transform: rotate(360deg);
}

/*Fading in card*/
.cardFade{
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.7s ease-in-out;
    position: relative;
}
.cardFade:hover{
    /*box-shadow: inset 0px 1px 10px #810c0c;    
    transition: box-shadow 1s ease-out; GOD DAMN LOOKING COOL*/
    box-shadow: inset 0px 0px 0px 15px #000000;
    cursor: grab;
}
.cardFade::before{
    content: "";
    /*background-color: aqua;*/
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    border: 1px solid;
    box-sizing: border-box;
}

/* Video section*/
.Cosa{
    height: 85vh;
    width: 90%;
    background: rgba(3, 168, 244, 0.250);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    left: 5%;
    box-shadow: 1.3vh 1.3vh 0 0.626vh var(--bgdark);
}
.Toronto{
    position: absolute;
    left: 0;
    min-width: 100%;
    height: 100%;
    object-fit: scale-down;
    z-index: -1;
}
.blabla{
    height: 20vh;
}

/*REVERB*/
.curtain {
    /** create the "split" background **/
    background-image: linear-gradient(to bottom, var(--color2) 50%, var(--color1) 50%);
}
  /** add extra space to the bottom (need this for the "sticky" effect) **/
.curtain::after {
    content: "";
    display: block;
    min-height: var(--minh);
}  
.invert {
    /** make the content sticky **/
    position: sticky;
    top: 20px;
  
    /** blend the content with the contrast effect **/
    mix-blend-mode: difference;
  
    /** center the content **/
    display: flex;
    align-items: center;
    justify-content: center;
    
    /** set the minimum height of the section **/
    min-height: var(--minh);
}
h2 {
    /** set the color of the text **/
    color: var(--color1);
}

/*Slide Bar*/
.container {
    display: flex;
    margin: 20vh 10vh 25vh;
}
.item {
    position: relative;
    flex: 1 1 100px;
    transition: transform 500ms;
}
.container:hover .item {
    transform: translateX(-25%);
}
.item:hover ~ .item {
    transform: translateX(25%);
}
.container .item:hover {
    transform: scale(1.5);
    z-index: 1;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Last element*/
.about-us{
    height: 20vh;
    width: 90%;
    background-color: var(--bgblue);
    margin: 10vh;
    box-shadow: 0 0 0px 1vh white,
     inset 0 0 20px 0.25vh var(--bgdark); /*OR bgcolor*/
}